.posts__page {
  margin: 0 5%;
  padding: 20px 0;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0;
  }

  .gridContainer {
    justify-content: center;

    .gridItem {
      .card {
        .cardContent {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px 30px;
          height: 150px;

          .postTitle {
            font-size: 16px;
            margin-bottom: 15px;
            font-weight: bold;
            text-transform: capitalize;
          }

          .postBody {
            margin: 0;
            font-size: 12px;
            text-align: justify;
            height: 75px;
            overflow: auto;
          }
        }

        .cardActions {
          justify-content: center;
        }
      }
    }
  }
}
