.albums__page {
  margin: 0 5%;
  padding: 20px 0;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0;
  }

  .albumTitle {
    text-transform: capitalize;
    margin: 5px;
  }
}
