.users__page {
  margin: 0 5%;
  padding: 20px 0;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .gridContainer {
    margin-top: 30px;
    justify-content: center;

    .gridItem {
      margin: 1px;

      .card {
        .cardContent {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 30px;

          .userPic {
            width: 90px;
            height: 90px;
          }

          .userName {
            font-size: 14px;
            margin-bottom: 5px;
            text-align: center;
            white-space: nowrap;
          }

          .userEmail {
            margin: 0;
            font-style: italic;
            font-size: 12px;
          }
        }

        .cardActions {
          justify-content: center;
        }
      }
    }
  }
}
